<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Admin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <<%= header %>></<%= header %>>

    <main>
        <div id="chat-container">
            <div id="chat-box">
                <!-- Chat messages will be displayed here -->
            </div>
            <textarea id="message-input" placeholder="Type your message here..."></textarea>
            <button id="send-button">Send</button>
        </div>
    </main>
    <user-footer></user-footer>

    <script src="/js/script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"></script>

</body>
</html>