<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <title>Handmade Crafts- Craftopia</title>
    <link rel="stylesheet" href="../css/style.css">
   
</head>

<body>

    <<%= header %>></<%= header %>>

    <div class="tagline">
        <h2 class="tagline">Welcome to Craftopia </h2>
        <span id="typedText" class="typed-text">Think of Gifts, Think of Craftopia.</span>
    </div>
    <main>
        <h1>Craftopia</h1>
        <h2>Glimse of the Products</h2>
        <div class="myvideo">
            <video autoplay loop muted   src="../assets/video/video.mp4" alt="video">
        </div> <br>

    </main>

    <user-footer></user-footer>

    <script src="/js/script.js" type="module"></script>
    <script src="/js/navbars.js" type="module"></script>

    </body>
    </html>

    