<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">   
</head>
<body>

    <new-user-header></new-user-header>

    <main>
        <div class="Register">
            <form id="registrationForm" method="post" action="/login">
                <h1>Login</h1>
                <p id="message" style="color: #850000; margin: 10px;">
                    <%= message %>
                </p>
                
                <label for="email">Email:</label>
                <input type="email" id="email"name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                
                <button type="submit">Login</button><br>
            </form>
        </div>
        <div class="additional-options">
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            <p><a href="/forgotpassword">Forgot Password?</a></p>
        </div>
    </main>
    <script src="/js/script.js"></script>
    <script src="/js/navbars.js"></script>
   
</body>
</html>