<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <header>
        <h1>My Orders</h1>

    <user-header></user-header>

    <main>
        <section id="orders">
            <h2>Your Orders</h2>
            <table id="orders-table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Amount (₹)</th>
                        <th>Status</th>
                        <th>Track Order</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Orders will be inserted here by JavaScript -->
                </tbody>
            </table>
        </section>
        

    </main>

    <user-footer></user-footer>

    <script src="/js/navbars.js" type="module"></script>
    <script src="/js/script.js" type="module"></script>

</body>

</html>