<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <user-header></user-header>
    <main>
        <h1>Payment</h1>
        <form action="/payment" method="POST">
            <div class="input-group">
                <label for="payment-method">Payment Method</label>
                <select id="payment-method" name="payment-method" required>
                    <option value="Cash on Delivery">Cash on Delivery</option>
                    <option value="UPI">UPI</option>
                    <option value="Credit/Debit Card">Credit/Debit Card</option>
                </select>
                <button type="submit">Proceed to Payment</button>
            </div>
        </form>
    </main>
    <user-footer></user-footer>

    <script src="/js/navbars.js"></script>
</body>
</html>
