.signup {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signupForm {
    width: 75vw;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#signupForm > input, #signupForm > label {
    margin-bottom: 10px;
    height: 30px;
    color: #313131;
}

#signupForm > input {
    border: #313131 solid 0.1px;
    border-radius: 5px;
}